<div id="main">
 <fieldset>
    <legend>添加下级栏目</legend>
<% form_tag({:action=>'add_category'}, {:multipart=>true}) do%> 
  <%= render :partial => 'form',:object => @category %>
  <br/>
  <%= submit_tag "添加" %>
<% end %>
<br/>
<%= link_to '返回', :action => 'list_category' %>
 </fieldset>
</div>