<div id="main">
 <fieldset>
    <legend>编辑子菜单</legend>


<% form_tag :action => 'update_menu', :id => @menu do %>
  <%= render :partial => 'form',:object => @menu %>
  <%= submit_tag '保存' %>
<% end %>

<%= link_to '返回', :action => 'list_menu' %>
 </fieldset>
</div>