<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>博日简介</title>
<%= stylesheet_link_tag 'content' %>
</head>

<body id="body">
  <div id="yylybanner">博日简介</div>
  <div id="brjj">
    <div id="brjj1">中国最大的生命科学仪器生产厂家，亚洲最大的PCR仪专业生产基地。</div>
     <div class="clear"> </div>
    <div id="brjj2">杭州博日科技有限公司(BIOER)是一家专业从事生命科学仪器和试剂研发、生产、销售及服务的企业。公司位于杭州高新技术产业开发区（滨江区），占地26000M2，建筑面积 15000M2，拥有一万级的超级净空房、GMP试剂车间、中心实验室等一流的环境和设备。拥有员工百余人。</div>
     <div class="clear"> </div>
    <div id="brjj2">
      <img src="/images/brjj.jpg" alt="bioer" border="0" height="129" width="328"   style="float:right" />
      正是基于自身在半导体制冷器（Peltier）方面得天独厚的制造背景和娴熟的设计能力，我们从1995年开始就研发半导体制冷器的应用产品。1998年推出中国首款基于半导体制冷技术的基因扩增仪（PCR仪），性能完全达到国际先进水平，通过了浙江省食品药品监督管理局的鉴定，取得了医疗器械产品注册证及国家专利，并编写了中国第一部基因扩增仪的企业标准。之后，我们又先后推出了TC系列PCR仪，以及LineGene系列Realtime PCR仪。其中，2002年推出的LineGeneⅠ荧光定量PCR检测系统获国家发明专利（专利号：ZL 01 1 16421.2），同时也是中国第一个获国家食品药品监督管理局注册批准的自主知识产权的定量PCR仪。LineGene系列产品以其稳定、可靠、灵敏的技术很快获得了市场的认可，使其获得了累积近1000台市场保有量，并发展成为博日公司Realtime PCR仪系列产品的经典技术平台。 
    </div>
     <div class="clear"> </div>
    <div id="brjj2">
      除PCR仪系列产品外，博日公司紧紧围绕生命科学研究及PCR检测应用领域，还推出了一系列恒温金属浴、核酸提取系统、标准PCR实验室、恒温培养箱、凝胶电泳仪、恒温水槽、外循环chiller等相关匹配产品。公司于2002年成立试剂事业部，逐步涉足生命科学研究与应用领域配套试剂的研发、生产、销售与服务，致力于打造能够为生命科学研究与应用提供全套解决方案的综合型企业。2007年，由博日研发并生产的乙型肝炎病毒（HBV）核酸扩增（PCR）荧光定量检测试剂盒获得国家食品药品监督管理局注册批准（注册号：国食药监械（准）字2007第3401340号）。 
    </div>
     <div class="clear"> </div>
    <div id="brjj2">
    经过十多年的发展，博日公司已经成为中国最大的PCR仪器及配套仪器专业供应商，也成为全球最大的PCR仪供应商之一。并在全球各地建立了广泛的销售网络。产品销往美国、德国、日本、韩国、东南亚、南美、中东等地，并与欧美等地的PCR厂家建立了广泛而良好的合作关系。
    </div>
     <div class="clear"> </div>
    <div id="brjj2">
      2008年，博日公司隆重推出新一代PCR仪及相关产品，其中包括：LineGene3310/3320 Realtime PCR仪， GenePro、GeneQ、梯度LifeExpress基因扩增仪，化学发光检测系统，离心机，混匀仪等生命科学仪器，以及HBV、HCV、HCMV、TB、阪崎肠杆菌等荧光定量PCR检测试剂、化学发光检测试剂、DNA分子量Marker、Taq酶等分子生物实验室常用试剂。 
    </div>
    <div id="brjj2">
      2009年，我们已经在5月份推出了博日公司的第四代pcr仪LifePro，它将以耐用可靠的设计理念服务于消费者。6月份将推出9600系列荧光定量pcr仪，其完善的通信功能（网络、蓝牙）、独特的制冷部件设计、强大的软件分析功能以及8通道可定制的功能一定能满足客户的要求。试剂方面：2009年3月，成功推出了快速抗生素检测仪，目前已成功的用于源奶中的抗生素含量的检测。
    </div>
     <div class="clear"> </div>
    <div id="brjj4">
      本着“勤勉立志、开拓创优”的经营理念，博日公司励精图治，建立了完善的质量管理体系，先后获得了德国TUV的ISO9001和ISO13485的认证。 我们将继续努力，既往开来，在生命科学领域，为人类的健康事业作出更大的贡献，以实际行动来实现博日的品牌理念：　“用科技关爱生命！”
    </div>
  </div>
</body>
</html>
