<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Credits</title>
<%= stylesheet_link_tag 'content_en' %>
<script>
function show(src)
  {var nw=window.open("","","scrollbars=yes,width=400,height=400");
    nw.document.write("<img src="+src+" onclick=window.close()>")
    nw.document.close();
  }
</script>
</head>
<body style="overflow-x:hidden">
  <div id="yylybanner">Credits</div>
  <!--点击大图自动关闭的代码-->
  <!--window.open("url","name","width=,height=")-->
  <div id="zzzsshow">
  <% 
    @count = 0
    for zzzh in  @zzzh
    @count = @count + 1
    
  %>
  <% if zzzh.summarypic != "" and zzzh.summarypic != nil %>
  <div id="figure">

     <div id="phone">
      <br>
      <% @categorylist = zzzh %>
      <a  style="cursor:pointer"  onClick='window.open("/content/pictureviewe?id=<%=zzzh.id%>","","scrollbars=yes,width=500,height=400,top=(window.screen.availHeight-30-400)/2"),left= (window.screen.availWidth-10-600)/2' >
      <%=image_tag url_for_file_column(:categorylist,:summarypic),:height => '77',:width => '120',:border=>'1px'  %>
      <!--<img src="<%=zzzh.summarypic%>" value="<%=zzzh.summarypic%>" onclick=show(this.value) width="100" height="50" align="left">-->
     </a>
     </div>
     
      <p id ="zztitle">
          <%= zzzh.title %>
      </p>
    
  </div>
  <% end %>
  <% end %>
  </div>
</body>
</html>