<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>联系我们</title>
<style>  
body 
{  
scrollbar-face-color: #ecf3fb;
scrollbar-highlight-color: #ffffff;
scrollbar-shadow-color: #cccccc; 
scrollbar-3dlight-color: buttonface; 
scrollbar-arrow-color: #000000; 
scrollbar-track-color: #eaf0f5; 
scrollbar-darkshadow-color: #ffffff; 
       
}  
</style>  
<%= stylesheet_link_tag 'content' %>
</head>

<body style='overflow:scroll;overflow-x:hidden'>
   <div id="banner"><%=@title%></div>
   <div id="lxwm">

    <div id="depttop">
<div>
<h4>营销总部：</h4>
地址：杭州高新（滨江）区滨安路1192号<br />
电话：0571-87774252/4307<br />
传真：0571-87774553<br />
Email：instrument@bioer.com.cn<br />
邮编：310053<br />
</div>
<br /><br />
<div>
<h4>海外市场部：</h4>
地址：杭州高新（滨江）区滨安路1192号<br />
电话：0571-87774575/4303<br />
传真：0571-87772210<br />
Email：overseas@bioer.com.cn<br />
邮编：310053<br />
</div>
<br /><br />
<div>
<h4>华北办：</h4>
地址：北京市朝阳区裕民路12号国际科技会展中心B座706<br />
电话：010-82253949<br />
手机：13801867319（鲍）<br />
传真：010-82253791<br />
邮编：100029<br />
</div>
<br /><br />
<div>
<h4>华东区：</h4>
电话：0571-87774252<br />
手机：13818124659（郜）<br />
传真：0571-87774553<br />
邮编：310053<br />
</div>
<br /><br />
<div>
<h4>华南区：</h4>
电话：0571-87774307 87774319<br />
手机：13958040297（吴）<br />
传真：0571-87774553<br />
邮编：310053<br />
</div>
<br /><br />
<div>
<h4>市场支持：</h4>
电话：0571-87774558 87774319<br />
手机：800-857-1279<br />
传真：0571-87774559<br />
邮编：310053<br />
</div>

   </div>
   <br />
   <br />
   <br />
</body>
</html>
