<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>企业文化</title>
<%= stylesheet_link_tag 'content' %>


<!--[if lte IE 7]>
<style type="text/css">
#menu2 li {
  float:left;
  }
#menu2 a {
  float:left;
  }
.container {display:inline-block; text-align: center; }
</style>
<![endif]-->
</head>
<body>
    <div id="yylybanner">企业文化</div>
    <div id="qywh">              	     
	<div id="top">
	<P id="qywh1">质量为企业生存之</P>
	<P id="qywh1">质量为企业发展之灵魂</P>
	<P id="qywh1">以质量树企业之信誉</P>
	<P id="qywh1">以质量赢全球之宾朋</P>
	</div>
	<div id="buttom">
	<P id="qywh2">体贴客户，</P>
	<P id="qywh1">才能完善自我……</P>
	<P id="qywh2">我们自信，</P>
	<P id="qywh1">因为我们专业……</P>
	<P id="qywh2">技术在发展，</P>
	<P id="qywh1">我们的产品也在延伸……</P>
	</div>
    </div>
</body>
</html>
