<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>The machine yard verifies </title>
<%= stylesheet_link_tag 'content_en' %>
<style  type="text/css">  
.test{
font-size:12px;
color:#666666; 
height:12px;

padding-top:6px;
line-height:20px !important;
line-height:8px;
}
</style> 
</head>
<body>
<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>
<div id="verify">
<% form_tag :action => 'verifye',:id => @menu do %>
      <table width="440" height="109" border="0" align="center" cellspacing="0"  cellpadding="0" background="/images/downloadimg1.jpg">
      <tr>
        <td width="420" height="49" align="center" valign="bottom">&nbsp;&nbsp;&nbsp;&nbsp;Enter the product code before the 7:&nbsp;&nbsp;
<%= text_field 'machinecode', 'machinecode' ,:size=> 25,:value=>'Product code see machine label',
  :onFocus=>"this.value=''",:class=>'test',:style=>'text-align:center' %>
        </td>      
      </tr>
      <tr><td height="60" valign="center" align="center"><%= submit_tag "submit" %>&nbsp;&nbsp;<%= submit_tag "reset" %></td></tr>
  </table>
<% end %>
</div>
</body>
</html>
