<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>新闻中心</title>
<%= stylesheet_link_tag 'content' %>
<%= stylesheet_link_tag 'basic' %>
</head>

<body>
  <div id="yylybanner">新闻中心</div>
  <div class="clear"></div>
  <div id="newslm">&nbsp;&nbsp;&nbsp;公告栏:</div>
  <div id="bestnewcontent" style="text-align:justify;text-justify:distribute-all-lines;text-align-last:justify"><%=@summary%></div>

  <div id="newcontent">
    <span  id="bestnewstitle">新闻标题:</span><br />
    <ul id="newstitle">
    <% if @categorylist.size > 0 %>
    <% for categorylist in @categorylist %>
    <li>
      <a href="#" style="cursor:pointer" onClick='window.open("newsdetail?id=<%=categorylist.id%>","","scrollbars=yes,width=600,height=360,top=200,resizable=yes")'>
      <span id="title"><%=truncate(categorylist.title,38)%></span>
      <% if categorylist.createdate != "" and categorylist.createdate != nil  %>
      <span id="date"><%= h(categorylist.createdate.strftime("%Y-%m-%d")) %></span>
      <% end %>
      </a>
    </li> 
    <% end %>
    <% else %>
    <li><span id="title">当前年份无新闻信息</span></li>
    <% end %>
    </ul>
  </div>
    <div id="fy1">
    <%= will_paginate @categorylist,
    :inner_window => 1,
    :outer_window => 1,
    :prev_label => '上一页',
    :next_label => '下一页'
    %>
  </div>
</body>
</html>
