<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>详细内容</title>
<%= stylesheet_link_tag 'content' %>


</head>
<body>
  <div id="productdetail">
    <% for productdetail in @productdetail %>
      <%=productdetail.particularcontent%>
    <% end %>
  </div>
</body>
</html>