<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>information</title>
<%= stylesheet_link_tag 'content' %>


</head>
<body>
  <div id="productdetail">
      <% for productdetail in @productdetail %>
        <div id="kuang">
    <div id="productdetail1">
      <p><%=productdetail.title%></p><br />
    </div>
    <div id="productdetail2">
      <p>
        <% @categorylist = productdetail %>
         <%=image_tag url_for_file_column(:categorylist,:summarypic),:height => '96', 
            :width => '161' %>
      </p>
    </div>
    <div id="productdetail3">
	<p><%=productdetail.summary%></p>
    </div> 
  </div>
    <div id="productdetail4">
      <%=productdetail.content%>
    </div>
    <% end %>
  </div>
</body>
</html>