<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>software download</title>
    <style type="text/css">
      td.View_title {
        border-right:1px solid #CFDAE0;
        color:#265684;
        font-size:12px;
        height:25px;
        text-align:center;
      }
      td.View_item2 {
        border-right:1px solid #CFDAE0;
        border-top:1px solid #CFDAE0;
        color:#265684;
        font-size:12px;
        height:22px;
      }
      td.View_item3 {
        border-top:1px solid #CFDAE0;
        color:#265684;
        font-size:12px;
        height:22px;
      }

    </style>
  </head>

  <body>
 <div id="jszc">
   <div id="jszc1">
    <table cellspacing="0" cellpadding="0" border="0" width="550" class="workflow_View" spacing="0" id="ready">
      <thead>
        <tr>
          <td align="center" width="130" class="View_title" style="background: none repeat scroll 0% 0% rgb(213, 226, 235);">Name</td>
          <td align="center" width="120" id="item2" class="View_title" style="background: none repeat scroll 0% 0% rgb(213, 226, 235);">Software Name</td>
          <td align="center" width="70" id="item2" class="View_title" style="background: none repeat scroll 0% 0% rgb(213, 226, 235);">Version</td>
          <td align="center" width="100" id="item2" class="View_title" style="background: none repeat scroll 0% 0% rgb(213, 226, 235);">Install for</td>
          <td align="center" width="80" id="item2" class="View_title" style="background: none repeat scroll 0% 0% rgb(213, 226, 235);">Release Date</td>
          <td align="center" width="80" id="item2" class="View_title" style="background: none repeat scroll 0% 0% rgb(213, 226, 235);">Download</td>
        </tr>
      </thead>
      <tbody>
        <% for jszc in @jszc%>
        <tr id="ready">
          <td align="left" class="View_item2" id="driverInfoTd0"><%=jszc.title%></td>
          <td align="left" class="View_item2" id="driverInfoTd1">
          <a style="cursor:pointer" onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#265684'" title="<%=jszc.writer%>">
          <%=jszc.titlestyle%>
          </a>
          </td>
          <td align="center" class="View_item2" id="driverInfoTd3"><%=jszc.titleurl%></td>
          <td align="center" class="View_item2" id="driverInfoTd5"><%=jszc.summary%></td>
          <td align="center" class="View_item2" id="driverInfoTd6"><%=jszc.createdate.strftime("%Y-%m-%d")%></td>
          <td align="center" style="text-align: center; border-right: 0px solid rgb(207, 218, 224);" class="View_item2" id="driverInfoTd4">
            <a style="cursor:pointer" onClick='window.open("/content/downloadfilee?id=<%=jszc.id%>","","scrollbars=yes,width=600,height=360,top=200")' onmousemove="this.style['color']='#ff0000'" onmouseout="this.style['color']='#265684'" title="download page">download</a>
          </td>
        </tr>
        <% end %>
        <tr>
          <td class="View_item3"></td>
          <td class="View_item3"></td>
          <td class="View_item3"></td>
          <td class="View_item3"></td>
          <td class="View_item3"></td>
          <td class="View_item3"></td>

        </tr>
      </tbody>
    </table>
   </div>
   <div id="jszc1">
   <table id="fy" cellpadding="0" cellspacing="0" align="right" width="550" >
     <tr><td>
    <%= will_paginate @jszc,
    :inner_window => 1,
    :outer_window => 1,
    :prev_label => 'Previous',
    :next_label => 'Next'
    %>
    </td>
    </tr>
    </table>
  </div>
 </div>
  </body>
</html>
