<p><img src="/images/bottomlline.jpg" width="780" height="5"></p>
<p>Copyright @ 2009 - 2015 Bioer.All Rights Reserved</p>
<p><a href="http://www.miibeian.gov.cn/">浙ICP备05056307号</a> </p>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F388a0dc0540dd9b6bfcfe5b83241e3c9' type='text/javascript'%3E%3C/script%3E"));
</script>
<p></p>
